<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribute.tansanctiondemo.dao.db2.OrderMapper">
  <resultMap id="BaseResultMap" type="com.distribute.tansanctiondemo.pojo.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
</mapper>